<% include _header %>

<div class="jumbotron" style="max-width: 80%; margin: auto">
  <div class="text-center">
    <h1>Collect and Trade Pokemon Cards!</h1>
    <% if(currentUser) { %>
      <h4>Visit your profile to catch Pokemon. Visit other profiles to request trades!</h4>
    <% } else { %>
      <h4>Sign in to get started!</h4>
    <% } %>
    </br></br>

    <div class = "flex-container">      
        <% allImages.forEach(function(image, ii) { %>
        <div class="flex-item">     
          <img class="card-image" alt="image result" src="<%= image %>">   
          <a href="/profile/<%=allOwners[ii]%>" style="color: blue" >Owner: <%=allOwners[ii]%></a> 
        </div>
        <% }) %>      
    </div>
  </div>  
  
</div>

</body>
</html>