<% include _header %>

<div class="jumbotron" style="max-width: 80%; margin: auto">
  <div class="text-center">
    <h1>Collect and Trade Pokemon Cards!<br><br></h1>

    <div class = "flex-container">      
        <% allImages.forEach(function(image, ii) { %>
        <div class="flex-item">     
          <img class="card-image" alt="image result" src="<%= image %>">   
          <a href="/profile/<%=allOwners[ii]%>" style="color: blue" >Owner: <%=allOwners[ii]%></a> 
        </div>
        <% }) %>      
    </div>
  </div>  
  
</div>

</body>
</html>